body {
    margin: 0;
    background-color: rgb(29, 28, 28);
}

.container {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 75%;
    margin-left: 12.5%;
    position: relative;
    background-color: rgb(61, 59, 59);
}

h1 {
    color: #35bcff;
    font-size: 36px;
    margin-bottom: 20px;
    margin: 0 auto;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #227aa7;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    width: 300px;
    height: 45px;
}

button:hover {
    background-color: #2faae7;
}

input {
    margin-bottom: 10px;
    width: 100%;
    height: 25px;
    background-color: rgb(70, 67, 67);
    border-radius: 15px;
    border-color: #35bcff;
    display: inline;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    padding: 8px;
    text-align: left;
    border: 1px solid white;
  }
  
  table th {
    background-color: #227aa7;
    font-weight: bold;
  }
  
  table tr:nth-child(2n-1) {
    background-color: rgb(63, 61, 61);
  }
  
  table tr:nth-child(2n) {
    background-color: rgb(105, 100, 100);
  }
  
  table tr:hover {
    background-color: #227aa7;
  }
  
p {
    color: red;
}